.Hero{
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    background-color: black;
    /* background-image: url(../assets/bangkok-city.jpg); */
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    position: relative;
    z-index: -2000;
}

.Hero img{
    position: absolute;
    width: 100%;
    height: 80vh;
    z-index: -1000;
    opacity: 45%;
}

.Hero-Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: center;
    padding: 5rem;
}

.Hero-Content{
    /* border: 3px solid white; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.Hero h1{
    font-weight: 600;
    font-size: 60px;
    color: white;
    margin-bottom: 1.5rem;
    text-align: center;
}

.Log-Sign-Con{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.Log-Sign-Con button{
    border: none;
}

.Login:hover{
    background-color: rgb(3, 61, 34) ;
}

.Login,
.Sign{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgba(0, 168, 89, 1);
    height: 3rem;
    width: 20rem;
    color: white;
    font-weight: 500;
    font-size: 20px;
}